html.dark {
  /* 自定义深色背景颜色 */
  --main-color: #121212;
  --main-card-color: #121212;
  --main-text-color: #00aeec;
}
:root {
  --main-color: #f0f2f5;
  --main-card-color: white;
  --main-text-color: #00aeec;
}
