html.dark {
  /* 自定义深色背景颜色 */
  --main-color: #121212;
  --main-text-color: #00aeec;
}
:root {
  --main-color: linear-gradient(to right, #a8edea, #e4efd2, #fed6e3, #dbdcdc);
  --main-text-color: #00aeec;
}
